.collapse-processed > legend > .fieldset-legend {
  background: url(../../../../misc/menu-expanded.png) 0px 50% no-repeat; /* LTR */
  content:"hide";
  float: left;
}

.collapsed > legend > .fieldset-legend
{
    background: url(../../../../misc/menu-collapsed.png) 0px 50% no-repeat; /* LTR */
    float: left;
}

.fieldset-title
{
    padding-left:12px;
}

form
{
    background-color:#FFF;
    padding:10px;
    border:1px solid #CCC;
}
form hr, form legend
{
    border-bottom: 3px solid #b4d6c9 !important;
}

.fieldset-title
{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color:#555;
}
.fieldset-description
{
    color:#777;
}
#edit-othertarget,#edit-advanced
{
    padding-bottom:40px;
}

h2
{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color:#555;
}

.form-type-textfield>label {
    display:block;
}

.fieldset-wrapper, .form-type-checkboxes{
    background-color: #FFF;
    padding: 10px;
    /*border: 1px solid #CCC;*/
}

.fieldset-wrapper {
    margin-bottom: 10px;
}

input[type="text"], input[type="submit"], input[type="button"]{
    margin-bottom:10px;
}

fieldset.collapsed {
    margin-bottom: 40px;
}

